.button {
	flex: 1;

	padding: 1rem 3rem;
	margin: 0 1rem;

	background-color: var(--primary);
	color: var(--text);

	border: 3px solid var(--border);
	border-radius: 1.2rem;

	font-size: 1.2rem;

	transition: 330ms;
}

.button:focus,
.button:active {
	outline: none;
	box-shadow: none;
}

.button:hover {
	background-color: rgba(0, 0, 0, 0.2);
	border-color: rgba(0, 0, 0, 0.2);
}
