.presenceContainer {
	display: flex;
	flex-direction: column;

	color: #3D3D3D;
}

.presenceContainer > header > h1 {
	font-weight: 900;
}

.presenceContainer > section {
	align-self: flex-start;

	width: 100%;

	margin-top: 1.5rem;
}

.presenceContainer > section > div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.presenceContainer > section > div > label {
	font-weight: 600;
}

.presenceContainer > section > div > input {
	width: 100%;

	padding: 0.5rem 0.2rem;
	margin-top: 0.2rem;

	border: none;
	border-radius: 0.6rem;

	font-size: 1.2rem;

	background-color: rgba(0, 0, 0, 0.035);
}

.presenceContainer > section > div > input:focus {
	outline: none;
	box-shadow: 0 2px 4px 0 var(--border);
}

.presenceContainer > section > div > div {
	display: flex;
	margin-top: 0.2rem;
}

.presenceContainer > section > div > div > label {
	display: flex;
	align-items: center;

	margin-left: 1rem;
}

.presenceContainer > section > div > div > label:first-child {
	margin-left: 0;
}

.presenceContainer > section > div > div > label > input {
	width: 1rem;
	height: 1rem;

	cursor: pointer;
}

.presenceContainer > section > div > div > label > span {
	margin-left: 0.3rem;

	cursor: pointer;
}

.animatedSection {
	animation-timing-function: ease-out;
	animation-duration: 1000ms;
	animation-fill-mode: forwards;
	animation-name: AnimatedSection;
}

.presenceContainer > button {
	align-self: flex-start;

	padding: 0.5rem 1rem;
	margin-top: 4rem;

	background-color: var(--border);
	color: var(--primary);

	border: 2px solid var(--border);
	border-radius: 0.6rem;

	transition: 330ms;
}

.presenceContainer > button:hover {
	background-color: var(--primary);
	color: var(--border);
	border-color: var(--primary);
}

.presenceContainer > button:active,
.presenceContainer > button:focus {
	outline: none;
}

@keyframes AnimatedSection {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
