.weddingInformationsContainer {
	display: flex;
	flex-direction: column;

	color: #3D3D3D;
}

.weddingInformationsContainer > header > h1 {
	font-weight: 900;
}

.weddingInformationsContainer > section > h2 {
	margin-top: 1.5rem;

	text-align: left;
	font-weight: 600;
}

.weddingInformationsContainer > section > iframe {
	width: 100%;
	height: 450px;

	border: 0;

	margin-top: 1.5rem;
}
